@media only screen and (max-width: 1024px) {
  .jumbotron {
    background-color: #72c9ff;
    color: white;
    height: calc(100vh - 10%);
    margin: 0;
  }
}

@media only screen and (max-width: 911px) {
  .jumbotron .container .row {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 812px) {
  /* Awal CSS Pembelajaran */
  .jumbotron input {
    background-color: transparent;
    border: 1px solid #176da2;
    width: 200px;
  }
  /* Akhir CSS Pembelajaran */

  #footer .foot-ul {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 768px) {
  /* Awal CSS BLOG */
  #pencarian .form-inline input {
    margin-right: 10px;
  }

  #blog .blogBawah .pagination .page-link {
    width: 14px;
    height: 27px;
  }

  #labelBlog .linkLabel {
    text-align: center;
  }
  /* Akhir CSS BLOG */

  /* Awal CSS isi Pembelajaran */
  .mP-menu {
    text-align: center;
  }
  /* Akhir CSS isi Pembelajaran */

  #footer .ft-menu {
    width: 50%;
  }
  #footer .ft-menu:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 540px) {
  /* Awal CSS BLOG */
  #pencarian {
    padding: 30px;
  }
  #pencarian .form-inline input {
    margin-right: 10px;
  }

  /* Akhir CSS BLOG */
}

@media only screen and (max-width: 375px) {
  /* Awal CSS BLOG */
  #pencarian h1 {
    font-size: 2em;
  }
  #pencarian p {
    font-size: 0.8em;
  }
  #pencarian .form-inline input,
  #pencarian .form-inline button {
    height: 40px;
    font-size: 0.9em;
  }
  #pencarian .form-inline input {
    width: 60%;
  }
  #pencarian .form-inline button {
    width: 35%;
  }

  #blog .atasKiri .card .card-body .isiSub img {
    height: 50px;
    width: 50px;
  }
  #blog .atasKiri .card .card-body .isiSub h4 {
    font-size: 1.1em;
  }
  #blog .atasKiri .card .card-body .title {
    font-size: 1.3em;
  }

  #kategoriArtikel h1 {
    font-size: 1.7em;
    padding: 20px;
  }

  #labelBlog h1 {
    padding: 15px;
  }
  /* Akhir CSS BLOG */

  /* Awal CSS Kategori Pembelajaran */
  .jumbotron .display-4 {
    font-size: 1.3em;
    font-weight: 800;
  }

  #kategoriPembelajaran h1 {
    font-size: 2em;
    margin: 0 0 50px 0;
  }
  /* Akhir CSS Kategori Pembelajaran */

  #footer .footBrand h1 {
    font-size: 1.4em;
  }
  #footer .row-ketentuan .foot-ul {
    flex-direction: column;
  }
}

@media only screen and (max-width: 280px) {
  /* Awal CSS Blog */
  #pencarian .form-inline button i {
    display: none;
  }
  #pencarian .form-inline input {
    width: 100%;
  }
  #pencarian .form-inline button {
    width: 100%;
  }
  /* Akhir CSS Blog */
}
